{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- 				
=======================================
				ABOUT HOGE
				===============================  -->


				<div class="theme-counter1" style="margin-top:100px;" >
					<div class="container" id="about">
						<div class="theme-title text-center" style="padding-top: 2rem;">
							<h2><span>ABOUT HOGE</span></h2>
						</div>
						<div class="bg-image">
							<br>
							
							<br><br>

							<div class="row theme-title">
								
								
								<div class="col-lg-6 order-lg-first"  style="color: #ffae00; text-align: left;" >
								
									<p style="font-size:19px; color: #fff">80 days ago, we, the community of Hoge, had our first election<br> 
										In many ways, it was the true start of vision that began some 17 months ago. We've grown from "Like Doge, but Defi " tobuying the founddational groundwork to one of the most ambitious, grandest visions in the entire space of what people have dubbed "Web3"<br>
									Hoge began as asimple and humble meme token. its birth originated from the phenomenon of what Doge began and then it lauched an entire crpto subculture. While we struggled to maintain that same level of early enthusiasm, the true building ofHoge never Stopped. Instead,we've grown,stronger, and more resilient.<br>
								
								we matured from comedic memes to an incredibly diverse community of like-minded unreasonable thinkers.We've also added to that thing people usually ask about:Utility</p>
								
								</div>
								<div class="col-lg-6 order-lg-last" >
								  <p style="font-size:19px; color: #fff">People in this space always ask, "what is your utility?" what does Hoge do that other projects haven't? what is Hoge's X-factor? To answer that,you simply look at hat makes Hoge,well,"Hoge".<br>
								The community. What's so special about that? Hoge has never had ateam wallet of any kind. we are pure Defi. we are OG.Originally Grown.<br>
							Hoge has over 20 projects  and protocols currently deployed and has accomplished this without any  capital infusion or working budget.There's NO team wallets,and No developer taxes on holders.<br>
						Instead, they were created by one thing: the Undying passion & love of Hoge by its community. That is the utility of Hoge. we'er a group of people with ideas,sometimes unreasonable or impossible ideas. we don't rely on a central core team to develop- we allow anyone to develop, well Virtually anything they want.</p>
								
								</div>
							</div>
							<div class="theme-title text-center" style="padding-top: 2rem;">
								<h2><span>We meme Business</span></h2>
							</div>
							

						</div> <!-- /.bg-image -->
					</div> <!-- /.container -->
					
				</div> <!-- /.theme-counter -->


				<div class="theme-counter1" style="margin-top:100px;" >
					<div class="container" id="about">
						<div class="theme-title text-center" style="padding-top: 2rem;">
							<h2><span>HOGE Management Team</span></h2>
						</div>
						<div class="bg-image">
							<br>
							
							<br><br>

							<div class="row theme-title">
								
								
								<div class="col-lg-4 order-lg-last"  style="color: #ffae00; text-align: center;" >
									<p style="font-size:22px; font-weight: bold; color: #ffae00">Communication Support Managers</p>
									<p style="font-size:19px; font-weight: bold; color: #fff">Bullish Max, Boo Baloo & Hayden Matthews</p>
									<p style="font-size:19px; color: #fff">Twitter & Telegram</p>
									<br>
									<p style="font-size:19px; font-weight: bold; color: #fff">JerseyRacks</p>
									<p style="font-size:19px; color: #fff">TikTok & YouTube</p>
									<br>
									<p style="font-size:19px; font-weight: bold; color: #fff">Dan, Steve</p>
									<p style="font-size:19px; color: #fff">Telegram</p><br>
									<p style="font-size:19px; font-weight: bold; color: #fff">DNSK, Kaefers, Hogepoge</p>
									<p style="font-size:19px; color: #fff">Discord</p><br>
									<p style="font-size:19px; font-weight: bold; color: #fff">Zinder</p>
									<p style="font-size:19px; color: #fff">Reddit & Telegram</p><br>
									<p style="font-size:19px; font-weight: bold; color: #fff">Susp3ct</p>
									<p style="font-size:19px; color: #fff">Reddit & Hoge Nation Forum</p><br>
									<p style="font-size:19px; font-weight: bold; color: #fff">Trout Nugget & Hayden Matthew</p>
									<p style="font-size:19px; color: #fff">FB,IG & Telegram</p><br>
									
									
			
									
									
									
									
									
								</div>
								<div class="col-lg-4 "  style="color: #ffae00; text-align: center;" >
									<p style="font-size:22px; font-weight: bold; color: #ffae00">Strategy Officers</p>
									<p style="font-size:19px; font-weight: bold; color: #fff">AL</p>
									<p style="font-size:19px; color: #fff">Business Development Officer</p>
									<p style="font-size:19px; color: #fff">Telegram: @the_only_AL</p><br>
									<p style="font-size:19px; font-weight: bold; color: #fff">Hayden Matthews</p>
									<p style="font-size:19px; color: #fff">Marketing & Innovation Officer </p>
									<p style="font-size:19px; color: #fff">Telegram: @airydropper</p><br>
									<p style="font-size:19px; font-weight: bold; color: #fff">Disrupt</p>
									<p style="font-size:19px; color: #fff">Marketing Officer</p>
									<p style="font-size:19px; color: #fff"> Telegram: @DisruptReality</p><br>
									<p style="font-size:19px; font-weight: bold; color: #fff">Sam / JerseyRacks</p>
									<p style="font-size:19px; color: #fff">Social Media Officer </p>
									<p style="font-size:19px; color: #fff"> Telegram: @jerseyracks ǀ Publicly Doxxed</p><br>
									
								
					
								</div>
								<div class="col-lg-4 order-lg-first" style="text-align: center;">
									<p style="font-size:22px; font-weight: bold; color: #ffae00">Leadership Officers</p>
									<p style="font-size:19px; font-weight: bold; color: #fff">Darren</p>
									<p style="font-size:19px; color: #fff">Business Development</p>
									<p style="font-size:19px; color: #fff">Telegram: @turtolious</p><br>
									<p style="font-size:19px; font-weight: bold; color: #fff">Rob</p>
									<p style="font-size:19px; color: #fff">Technology & Innovation </p>
									<p style="font-size:19px; color: #fff">Telegram: @rorih ǀ Publicly Doxxed</p><br>
									<p style="font-size:19px; font-weight: bold; color: #fff">Sam R / Zembahk</p>
									<p style="font-size:19px; color: #fff">Technology & Innovation </p>
									<p style="font-size:19px; color: #fff"> Telegram: @Zembahk ǀ Publicly Doxxed</p><br>
									<p style="font-size:19px; font-weight: bold; color: #fff">Sam / JerseyRacks</p>
									<p style="font-size:19px; color: #fff">Public Relations & Social Communications </p>
									<p style="font-size:19px; color: #fff"> Telegram: @jerseyracks ǀ Publicly Doxxed</p><br>
									<p style="font-size:19px; font-weight: bold; color: #fff">Luc</p>
									<p style="font-size:19px; color: #fff">Human Relations & Coordinator </p>
									<p style="font-size:19px; color: #fff"> Telegram: @Spaggmayo ǀ Publicly Doxxed</p><br>
									<p style="font-size:19px; font-weight: bold; color: #fff">Sam J / Aloe</p>
									<p style="font-size:19px; color: #fff">Web3 Architecture & Framework</p>
									<p style="font-size:19px; color: #fff"> Telegram: @honeyaloe</p><br>
								
								</div>
							</div>
							

						</div> <!-- /.bg-image -->
					</div> <!-- /.container -->
					
				</div> <!-- /.theme-counter -->
				


				
{% endblock %}