{% extends 'base.html' %}

{% block content %}

<!-- 				
=======================================
				ABOUT HOGE
				===============================  -->


				<div class="theme-counter1" style="margin-top:100px;" >
					<div class="container" id="about">
						<div class="theme-title text-center" style="padding-top: 2rem;">
							<h2><span>ABOUT HOGE</span></h2>
						</div>
						<div class="bg-image">
							<br>
							
							<br><br>

							<div class="row theme-title">
								
								
								<div class="col-lg-6 order-lg-last"  style="color: #ffae00; text-align: left;" >
								
									<p style="font-size:19px; color: #fff">80 days ago, we, the community of Hoge, had our first election<br> In many ways, it was the true start of vision that began some 17 months ago. We've grown from "Like Doge, but Defi " tobuying the founddational groundwork to one of the most ambitious, grandest visions that began</p>
								
								</div>
								<div class="col-lg-6 order-lg-first" >
								  <p style="font-size:19px; color: #fff">HOGE has 2% tax on all transactions to prevent price manipulation and encourage holding.The 2% tax is then split as a weighted distribution between all holders and the burn address.</p>
								
								</div>
							</div>
							

							<!-- <div class="row theme-title">
								
								<div class="col-lg-7 order-lg-last"  style="color: #ffae00; text-align: left;" >
								     <p>399363318409 HOGE in Circulation</p>
								</div>
								<div class="col-lg-5 order-lg-first" style="color: red" >
									<p><i class="fa fa-gear fa-spin" style="font-size:24px"></i>600636681591 HOGE Burned</p>
								    <p><i class="fa fa-gear fa-spin" style="font-size:24px"></i> <p>399363318409 HOGE in Circulation</p></p>
								    <p>HOGE has 2% tax on all transactions to prevent price manipulation and encourage holding.The 2% tax is then split as a weighted distribution between all holders and the burn address.</p>
								</div>
							</div> -->

	
						</div> <!-- /.bg-image -->
					</div> <!-- /.container -->
					
				</div> <!-- /.theme-counter -->
{% endblock %}