{% extends 'base.html' %}

{% block content %}

<!-- 				
=======================================
				ABOUT HOGE
				===============================  -->


				<div class="theme-counter1" style="margin-top:100px;" >
					<div class="container" id="about">
						<div class="theme-title text-center" style="padding-top: 2rem;">
							<h2><span>ABOUT HOGE</span></h2>
						</div>
						<div class="bg-image">
							<br>
							
							<br><br>

							<div class="row theme-title">
								
								
								<div class="col-lg-6 order-lg-last"  style="color: #ffae00; text-align: left;" >
								
									<p style="font-size:19px; color: #fff">80 days ago, we, the community of Hoge, had our first election<br> In many ways, it was the true start of vision that began some 17 months ago. We've grown from "Like Doge, but Defi " tobuying the founddational groundwork to one of the most ambitious, grandest visions that began</p>
								
								</div>
								<div class="col-lg-6 order-lg-first" >
								  <p style="font-size:19px; color: #fff">HOGE has 2% tax on all transactions to prevent price manipulation and encourage holding.The 2% tax is then split as a weighted distribution between all holders and the burn address.</p>
								
								</div>
							</div>
							

						</div> <!-- /.bg-image -->
					</div> <!-- /.container -->
					
				</div> <!-- /.theme-counter -->



				<div class="theme-counter1" style="margin-top:100px;" >
					<div class="container" id="about">
						<div class="theme-title text-center" style="padding-top: 2rem;">
							<h2><span>HOGE Management</span></h2>
						</div>
						<div class="bg-image">
							<br>
							
							<br><br>

							<div class="row theme-title">
								
								
								<div class="col-lg-4 order-lg-last"  style="color: #ffae00; text-align: left;" >
								
									<p style="font-size:19px; color: #fff">80 days ago, we, the community of Hoge, had our first election<br> In many ways, it was the true start of vision that began some 17 months ago. We've grown from "Like Doge, but Defi " tobuying the founddational groundwork to one of the most ambitious, grandest visions that began</p>
								
								</div>
								<div class="col-lg-4 "  style="color: #ffae00; text-align: left;" >
								
									<p style="font-size:19px; color: #fff">80 days ago, we, the community of Hoge, had our first election<br> In many ways, it was the true start of vision that began some 17 months ago. We've grown from "Like Doge, but Defi " tobuying the founddational groundwork to one of the most ambitious, grandest visions that began</p>
								
								</div>
								<div class="col-lg-4 order-lg-first" >
								  <p style="font-size:19px; color: #fff">Leadership Officers
									Darren
									Business Development
									Telegram: @turtolious
									Rob
									Technology & Innovation
									Telegram: @rorih ǀ Publicly Doxxed
									Sam R / Zembahk
									Technology & Innovation
									Telegram: @Zembahk ǀ Publicly Doxxed
									Sam / JerseyRacks
									Public Relations & Social Communications
									Telegram: @jerseyracks ǀ Publicly Doxxed
									Luc
									Human Relations & Coordinator
									Telegram: @Spaggmayo ǀ Publicly Doxxed
									Sam J / Aloe
									Web3 Architecture & Framework
									Telegram: @honeyaloe
									Strategy Officers
									AL
									Business Development Officer
									Telegram: @the_only_AL
									Hayden Matthews
									Marketing & Innovation Officer
									Telegram: @airydropper
									Disrupt
									Marketing Officer
									Telegram: @DisruptReality
									Sam / JerseyRacks
									Social Media Officer
									Telegram: @jerseyracks ǀ Publicly Doxxed
									Communication Support 
									Managers
									Bullish Max, Boo Baloo & Hayden Matthews
									Twitter & Telegram
									JerseyRacks
									TikTok & YouTube
									Dan, Steve
									Telegram
									DNSK, Kaefers, Hogepoge
									Discord
									Zinder
									Reddit & Telegram
									Susp3ct
									Reddit & Hoge Nation Forum
									Trout Nugget & Hayden Matthew</p>
								
								</div>
							</div>
							

						</div> <!-- /.bg-image -->
					</div> <!-- /.container -->
					
				</div> <!-- /.theme-counter -->
{% endblock %}