{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="crypto, mining, animation, example, examples">
		<meta name="author" content="Hogefinance developer">
		<meta name="description" content="The creator's community intent of providing opportunities, education, tools & resources to bridge the gap between DeFi & global adoption.
		We Meme Business.">
		<meta name='og:image' content='images/home/ogg.png'>
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HOGE Finance - Official HOGE Finance Website!</title>

		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="{% static 'images/Hoge_gold.png' %}">
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
		<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
		   
		
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script> 

		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet'>
		<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
		<!-- Color Css -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/color-one.css' %}">
 
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


		<!-- Fix Internet Explorer ______________________________________-->

			
	</head>
    <body>
        <div class="main-page-wrapper">


			<!-- ********************** Loading Transition ************************ -->
			<div id="loader-wrapper">
				<div id="loader" ></div>
			</div>

			<div class="html-top-content">
				<!-- ********************** Theme Top Banne & Header ************************ -->
				<div class="theme-top-section">
					<!-- ^^^^^^^^^^^^^^^^^ Theme Menu ^^^^^^^^^^^^^^^ -->
					<header class="theme-main-menu">
						<div class="container">
							<div class="menu-wrapper clearfix">
								<div class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/hoge_defi.jpg' %}" alt="Logo" height="50" width="120"></a></div>
							

								<!-- Navigation -->
							    <nav class="navbar navbar-expand-lg dark-bg" id="mega-menu-holder"id="Home">
							    	<div class="container">
							    		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
							    		  <i class="fa fa-bars" aria-hidden="true"></i>
							    		</button>
							    		<div class="collapse navbar-collapse" id="navbarResponsive">
											<ul class="navbar-nav"style="font-weight: bold;">
											 <li class="nav-item"  >
												  <a class="nav-link js-scroll-trigger" href="{% url 'home' %}">Home</a>
												</li>
												<li class="nav-item mydropdown"   >
												
													<button class="dropbtn nav-link js-scroll-trigger" style="font-weight: bold;">About
													<i class="fa fa-caret-down"></i>
													</button>
													<div class="mydropdown-content">
													<a  class="nav-link" href="{% url 'about' %}">About us</a>
													<hr>
													<a target="_blank" href="https://www.certik.com/projects/hogefinance">Certik Audit</a>
													
													</div>
													
														
												   
												  </li>
												<li class="nav-item">
												  <a class="nav-link js-scroll-trigger" href="#services">NFT's</a>
												</li>
												<li class="nav-item">
												  <a class="nav-link js-scroll-trigger" href="#progress">Buy</a>
												</li>
												<li class="nav-item">
												  <a class="nav-link js-scroll-trigger" href="{% url 'store' %}">Store</a>
												</li>
												<li class="nav-item">
												  <a class="nav-link js-scroll-trigger" href="#media">Media</a>
												</li>
												<li class="nav-item">
												  <a class="nav-link js-scroll-trigger" href="#contact">Contact us</a>
												</li>
											</ul>
										  </div>
							    	</div>
									
							    </nav> 
							</div> <!-- /.menu-wrapper -->
						</div> <!-- /.container -->
					
										<div class="progress-bar" id="myBar"></div>
									
					
					</header> <!-- /.theme-main-menu -->
			














					<!-- ^^^^^^^^^^^^^^^^^ Theme Banner ^^^^^^^^^^^^^^^ -->
					
				</div> <!-- /.theme-top-section -->

            </div>
			<div class="sticky-social">
				<ul class="social">
					  <li class="twitter"><a href="https://app.uniswap.org/#/swap?slippage=500&outputCurrency=0xfad45e47083e4607302aa43c65fb3106f1cd7607&use=V2"><img style="margin: auto;" src="{% static 'images/uniswap.png' %}" height="45px" width= "45px"></a></li>
					<li class="insta"><a href="https://pancakeswap.finance/swap?outputCurrency=0xa4fffc757e8c4f24e7b209c033c123d20983ad40"><img style="margin: auto;" src="{% static 'images/pancakesawp.png' %}" height="45px" width= "45px"></a></li>
					<li class="pin"><a href="https://www.dextools.io/app/uniswap/pair-explorer/0x7fd1de95fc975fbbd8be260525758549ec477960"><img style="margin: auto;" src="{% static 'images/dextoolslogo.png' %}" height="45px" width= "45px"></a></li>
					<li class="open"><a href="https://opensea.io/HogeFinance"><img style="margin: auto;" src="{% static 'images/opensea-r.png' %}" height="45px" width= "45px"></a></li>
					
				  </ul>
				</div>
                {% block content %}

                {% endblock %}
				



			
                

















                
			
	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s color-one-bg">
				<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
			</button>


				<!--
				=====================================================
					Partner Slider
				=====================================================
				-->
				<!-- <div class="partner-section">
					<div class="theme-title text-center">
						<h2><span>Price Listings</span></h2>
					</div>
					<div class="container">
						<div class="partner-slider">
							<div class="item"><a href="https://www.coinbase.com/price/hoge-finance"><img src="{% static 'images/coinbase_logo.png' %}" alt=""></a></div>
							<div class="item"><a href="https://www.coingecko.com/en/coins/hoge-finance"><img src="{% static 'images/coingecko_logo.png' %}" alt=""></a></div>
							<div class="item"><a href="https://coinmarketcap.com/currencies/hoge-finance/"><img src="{% static 'images/coinmarketcap_logo.png' %}" alt=""></a></div>
							<div class="item"><a href="https://crypto.com/price/hoge-finance"><img src="{% static 'images/cryptocom-logo.png' %}" alt=""></a></div>
							<div class="item"><a href="https://blockfolio.com/coin/HOGE"><img src="{% static 'images/blockfolio_logo.png' %}" alt=""></a></div>
						</div>
					</div>
				</div> -->


			<footer class="theme-footer">
				<div class="container">
					<div class="inner-wrapper">
						<div class="top-footer-data-wrapper">
							<div class="row">
								<div class="col-lg-4 col-sm-6 footer-logo">
									<div class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/Hoge_logo (2).png' %}" height="100px" width="120px" alt="Logo"></a></div>
									<a href="#" class="email">Hogefinance.com</a>
									<a href="#" class="mobile">648-xxx-xxxx</a>
								</div> <!-- /.footer-logo -->
								<div class="col-lg-2 col-sm-6 footer-list">
									<h4 class="title">Quick Links</h4>
									<ul>
										<li><a href="#">How it Works</a></li>
										<li><a href="#">Guarantee</a></li>
										<li><a href="#">Security</a></li>
										<li><a href="#">Report Bug</a></li>
										<li><a href="#">Pricing</a></li>
									</ul>
								</div> <!-- /.footer-list -->
								<div class="col-lg-3 col-sm-6 footer-list">
									<h4 class="title">About Us</h4>
									<ul>
										<li><a href="#">About Singleton</a></li>
										<li><a href="#">Jobs</a></li>
										<li><a href="#">Team</a></li>
										<li><a href="#">Testimonials</a></li>
										<li><a href="#">Blog</a></li>
									</ul>
								</div> <!-- /.footer-list -->
								<div class="col-lg-3 col-sm-6 footer-list">
									<h4 class="title">Become A Member</h4>
									<ul>
										<li><a href="#">Contributor</a></li>
										<li><a href="#">Union Member</a></li>
										<li><a href="#">Processing</a></li>
										<li><a href="#">Legal Action</a></li>
									</ul>
								</div> <!-- /.footer-list -->
							</div> <!-- /.row -->
						</div> <!-- /.top-footer-data-wrapper -->

						<div class="bottom-footer clearfix">
							<p class="copyright">&copy; 2022 <a href="#" style="
								color: #fff;" >Hogefinance

							</a> All Right Reserved</p>
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div> <!-- /.bottom-footer -->
					</div>
				</div> <!-- /.container -->
			</footer>

		</div> <!-- /.html-top-content -->


		
		<!-- Scroll Top Button -->
		<button class="scroll-top tran3s color-one-bg">
			<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
		</button>




  <script type="text/javascript" src="{% static 'vendor/jquery.2.2.3.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'vendor/aos-next/dist/aos.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'vendor/jquery.countTo.js' %}"></script>

  <script type="text/javascript" src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'vendor/jquery.appear.js' %}"></script>
 
  <script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
 
	<script>
		function copyToClipboard(element) {
var $temp = $("<input>");
$("body").append($temp);
$temp.val($(element).text()).select();
document.execCommand("copy");
$temp.remove();
}

	</script>
	
<script>
var amount = 800;
var sky = $('.sky');

for (var i = 0 ; i < amount ; i++ ) {
var s = $('<div class="star-blink"><div></div></div>');
s.css({
	'top': Math.random() * 100 + '%',
	'left': Math.random() * 100 + '%',
	'animation': 'blinkAfter 15s infinite ' + Math.random() * 100 + 's ease-out',
	'width': Math.random() * 2 + 7 + 'px',
	'height': Math.random() * 2 + 7 + 'px',
	'opacity': Math.random() * 5 / 10 + 0.5
	});
if (i % 8 === 0) {
	s.addClass('red');
} else if (i % 10 === 6) {
	s.addClass('blue');
}
sky.append(s);
}




window.onscroll = function() {myFunction()};

function myFunction() {
var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
var scrolled = (winScroll / height) * 100;
document.getElementById("myBar").style.width = scrolled + "%";
}
</script>


	</div> <!-- /.main-page-wrapper -->
</body>
</html>



