{% extends 'base.html' %}
{% load static %}
{% block content %}


					<!-- ^^^^^^^^^^^^^^^^^ Theme Banner ^^^^^^^^^^^^^^^ -->
					
					<div id="theme-banner" class="theme-banner-one">
						
						<div class="canvas">
							<div class="sky"></div>
						<div class="diversion">
							<div class="sun"data-title="The Sun is the star at the center of the Solar System." >
							</div>
								
						
							<a class="mercury" href="#services" title=""></a>
							<div class="venus" title=""></div>
							
						  <div class="earth-moon-wrap">
							<div class="earth"></div>
							<div class="moon"></div>
						  </div>
							<div class="mars" title=""></div>
							<div class="jupiter" title=''></div>
							<div class="earth1" title=''></div>
							
							<div   class="association" title=''></div>
							<div class="saturn" title=""></div>
							<div class="uranus" title=""></div>
							<div class="neptune" title=""></div>
						
							<div class="explore"><h1>Explore The<br> <span style="color: #ffae00;">HOGE </span>DEFI <br>Ecosystem.</h1>
								<p>We like to have fun but we also MEME business. Join us!</p>
								<p><span style="color: #ffae00;">Click  on the planets to view them!</span></p>
								
								
								<div class="socials">

									<a href="https://www.instagram.com/officialhoge"><img src="{% static 'images/logo_insta-removebg-preview.png' %}"></a>
									
									<a href="https://discord.com/invite/hoge"><img src="{% static 'images/logodiscord-removebg-preview.png' %}"></a>
									<a href="https://reddit.com/r/hoge"><img src="{% static 'images/logoreddit-removebg-preview.png' %}"></a>
									<a href="https://t.me/hogefinance"><img src="{% static 'images/logotelegram-removebg-preview.png' %}"></a>
									<a href="https://www.tiktok.com/@hoge.finance"><img src="{% static 'images/logotiktok-removebg-preview.png' %}"></a>
									<a href="https://twitter.com/hogefinance"><img src="{% static 'images/logotwitter-removebg-preview.png' %}"></a>
									
								</div>
								
							
							</div>
						</div>
						
						
						
						<img src="{% static 'images/hoge_neon2.png' %}" alt="" class="icon-shape-three">
						<div class="round-shape-one"></div>
						<div class="round-shape-two"></div>
						<div class="round-shape-three"></div>
					
					</div> 

					</div> <!-- /.theme-banner-one -->
					
				</div> <!-- /.theme-top-section -->
				




				</div>
{% endblock %}				
