{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="crypto, mining, animation, example, examples">
		<meta name="author" content="Hogefinance developer">
		<meta name="description" content="The creator's community intent of providing opportunities, education, tools & resources to bridge the gap between DeFi & global adoption.
		We Meme Business.">
		<meta name='og:image' content='images/home/ogg.png'>
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HOGE Finance - Official HOGE Finance Website!</title>

		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="{% static 'images/Hoge_gold.png' %}">
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
		   
		
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script> 

		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
		<link href="{% static 'css/glightbox.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/swiper-bundle.min.css' %}"rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet'>
		<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
		<!-- Color Css -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/color-one.css' %}">
 
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


		<!-- Fix Internet Explorer ______________________________________-->

			
	</head>

	<body>
		<div class="main-page-wrapper">


			<!-- ********************** Loading Transition ************************ -->
			<div id="loader-wrapper">
				<div id="loader" class="rotate"></div>
			</div>

			<div class="html-top-content">
				<!-- ********************** Theme Top Banne & Header ************************ -->
				<div class="theme-top-section">
					<!-- ^^^^^^^^^^^^^^^^^ Theme Menu ^^^^^^^^^^^^^^^ -->
					<header class="theme-main-menu">
						<div class="container">
							<div class="menu-wrapper clearfix">
								<div class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/hoge_defi.jpg' %}" alt="Logo" height="50" width="120"></a></div>
							<style>
								.navbar .nav-item{
									padding-right: 2px;
								
								}
								.navbar ul{

								padding-right: 6rem;


								}
								.bg-secondary {
    background-color: #ffffff1a!important;
}
							</style>

								<!-- Navigation -->
							    <nav class="navbar navbar-expand-lg dark-bg" id="mega-menu-holder"id="Home">
							    	<div class="container">
							    		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
							    		  <i class="fa fa-bars" aria-hidden="true"></i>
							    		</button>
							    		<div class="collapse navbar-collapse" id="navbarResponsive">
							    		  <ul class="navbar-nav"style="font-weight: bold;" >
                                            <li class="nav-item"  >
							    		  	  <a class="nav-link js-scroll-trigger" href="{% url 'home' %}">Home</a>
							    		  	</li>
							    		  	<li class="nav-item mydropdown">
												
												<button class="dropbtn nav-link js-scroll-trigger" style="font-weight: bold;">About
												<i class="fa fa-caret-down"></i>
												</button>
												<div class="mydropdown-content">
												<a  class="nav-link" href="{% url 'about' %}">About us</a><hr>
												<a target="_blank" href="https://www.certik.com/projects/hogefinance">Certik Audit</a>
												
												</div>
												
													
							    		  	 
							    		  	</li>
											  <li class="nav-item mydropdown">
												
												<button class="dropbtn nav-link js-scroll-trigger" style="font-weight: bold;">NFT Collections
												<i class="fa fa-caret-down"></i>
												</button>
												<div class="mydropdown-content">
													<a class="nav-link js-scroll-trigger" href="{% url 'store' %}"> Merchandise Store</a>
											 
													<a class="nav-link js-scroll-trigger" href="#media">Media</a><hr>
												
												</div>
												
													
							    		  	 
							    		  	</li>
											
							    		
											  <li class="nav-item">
												<a class="nav-link js-scroll-trigger" href="#progress">Buy</a>
											  </li>
											 
											
											  <li class="nav-item">
												<a class="nav-link js-scroll-trigger" href="#contact">Contact us</a>
											  </li>
							    		  </ul>
							    		</div>
							    	</div>
									
							    </nav> 
							</div> <!-- /.menu-wrapper -->
						</div> <!-- /.container -->
						
					
										<div class="progress-bar" id="myBar"></div>
										
     <!-- Newsletter Popup Start -->
	 <div class="popup_wrapper hidden-sm hidden-xs">
		

		<div class="test">
			<span class="popup_off">Close</span>
			<div class="subscribe_area text-center">
				<h2>It's Happening!</h2>
				<p>GET THE HOGE WEEKLY EMAIL BLAST</p>
				<div id="mc_embed_signup" class="subscribe-bottom">
					<form action="" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						
						{% csrf_token %}
						<div id="mc_embed_signup_scroll" class="mc-form text-center ">
							{{ form.as_p }}
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							
							<div class="clear-2"><input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</div>
					</form>
				</div>
				<div class="subscribe-bottom mt-15">
					<input type="checkbox" id="newsletter-permission">
					
				</div>
			</div>
		</div>
	</div>
	<!-- Newsletter Popup End -->
									
					
					</header> <!-- /.theme-main-menu -->
					
					<main class="l-main">
						<!--===== HOME =====-->
						<section class="home" id="home">
							<div class="home__container bd-grid">
								<div class="home__img ">
							
									<div class=" img">
										<div class="social-icons">
											<a href="#services"><img class="earth"  src="{% static 'images/round1-removebg-preview.png' %}" alt="">
											<img class="earth" src="{% static 'images/round2-removebg-preview.png' %}" alt="">
											<img class="earth" src="{% static 'images/round3-removebg-preview.png' %}" alt="">
											<img class="earth" src="{% static 'images/round4-removebg-preview.png' %}" alt="">
											<img class="earth"  src="{% static 'images/round5-removebg-preview.png' %}"  alt="">
											<img class="earth" src="{% static 'images/round-removebg-preview.png' %}" alt=""></a>
										 
										</div>
										<a href="{% url 'home' %}"><img class="email-icon" src="{% static 'images/hogelog0.png' %}" alt=""></a>
									</div>
								</div>
			
								<div class="home__data">
									<div class="exe"><h1 style="font-family: 'Poppins'; font-size: 58px;">Explore The<br> <span style="color: #ffae00; font-weight: bold;">HOGE </span>DEFI <br>Ecosystem.</h1>
										<p>We like to have fun but we also MEME business. Join us!</p>
										<p><span style="color: #ffae00;">Click  on the planets to view them!</span></p>
										
										
										<div class="socials">
			
											<a href="https://www.instagram.com/officialhoge"><img src="{% static 'images/logo_insta-removebg-preview.png' %}"></a>
											
											<a href="https://discord.com/invite/hoge"><img src="{% static 'images/logodiscord-removebg-preview.png' %}"></a>
											<a href="https://reddit.com/r/hoge"><img src="{% static 'images/logoreddit-removebg-preview.png' %}"></a>
											<a href="https://t.me/hogefinance"><img src="{% static 'images/logotelegram-removebg-preview.png' %}"></a>
											<a href="https://www.tiktok.com/@hoge.finance"><img src="{% static 'images/logotiktok-removebg-preview.png' %}"></a>
											<a href="https://twitter.com/hogefinance"><img src="{% static 'images/logotwitter-removebg-preview.png' %}"></a>
											
										</div>
										
									
									</div>
								</div>
			
								
							</div>
							
						   
						</section>
						<div class="wave">
							<img src="{% static 'images/wave.svg' %}" alt="">
						</div>
					</main>
			
					<!--===== GSAP =====-->
					<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
			
					
				
			













					<!-- ^^^^^^^^^^^^^^^^^ Theme Banner ^^^^^^^^^^^^^^^ -->
					
					 <!-- /.theme-banner-one -->
					
				</div> <!-- /.theme-top-section -->
				
				<!--
				=====================================================
					Partner Slider
				=====================================================
				-->
				<div class="partner-section"id="services">
					<div class="theme-title text-center">
						<h2><span>Price Listings</span></h2>
					</div>
					<div class="container">
						<div class="partner-slider">
							<div class="item"><a href="https://www.coinbase.com/price/hoge-finance"><img src="{% static 'images/coinbase_logo.png' %}" alt=""></a></div>
							<div class="item"><a href="https://www.coingecko.com/en/coins/hoge-finance"><img src="{% static 'images/coingecko_logo.png' %}" alt=""></a></div>
							<div class="item"><a href="https://coinmarketcap.com/currencies/hoge-finance/"><img src="{% static 'images/coinmarketcap_logo.png' %}" alt=""></a></div>
							<div class="item"><a href="https://crypto.com/price/hoge-finance"><img src="{% static 'images/cryptocom-logo.png' %}" alt=""></a></div>
							<div class="item"><a href="https://blockfolio.com/coin/HOGE"><img src="{% static 'images/blockfolio_logo.png' %}" alt=""></a></div>
						</div>
					</div>
				</div>
				


				 <!--
				=====================================================
					Our Feature
				=====================================================
				-->
	

								<!-- ======= Portfolio Section ======= -->
				<section id="portfolio" class="portfolio">
					<div class="theme-title text-center" style="padding-bottom: 25px;">
						<h2><span>Ecosystem Overview</span></h2>
					</div>
					<div class="container" >

					<div class="row">
						<div class="col-lg-12 d-flex justify-content-space-between">
						<ul id="portfolio-flters">
							<li data-filter="*" class="filter-active">Projects</li>
							<li data-filter=".filter-app">HOGE World</li>
							<li data-filter=".filter-card">HOGE Store</li>
							<li data-filter=".filter-web">HOGE Token</li>
						</ul>
						</div>
					</div>

					<div class="row portfolio-container">

						<div class="col-lg-4 col-md-6 portfolio-item filter-app">
						<div class="portfolio-wrap">
							<img src="{% static 'images/hogemerch.jpg' %}" class="img-fluid" alt="">
							<div class="portfolio-info">
							<h4>HOGE Merch Shop</h4>
							<p>Grab all the latest creative HOGE gear</p>
							<div class="portfolio-links">
								<a href="{% static 'images/hogemerch.jpg' %}"data-gallery="portfolioGallery" class="portfolio-lightbox" title="We’ve sourced some of the most creative minds on the web to bring swag, style and fashion to HOGE and our community."><i class="bx bx-plus"></i></a>
								<a href="https://hoge.store/" ><i class="bx bx-link"></i></a>
							</div>
							</div>
						</div>
						</div>

						<div class="col-lg-4 col-md-6 portfolio-item filter-web">
						<div class="portfolio-wrap">
							<img src="{% static 'images/hogeecosytem.jpg' %}"class="img-fluid" alt="">
							<div class="portfolio-info">
							<h4>HOGE NFT Marketplace</h4>
							<p>Provides true smart contract ownership for you.</p>
							<div class="portfolio-links">
								<a href="{% static 'images/hogeecosytem.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Own NFT Studio was born from community members at HOGE."><i class="bx bx-plus"></i></a>
								<a href="https://own.studio/" ><i class="bx bx-link"></i></a>
							</div>
							</div>
						</div>
						</div>

						<div class="col-lg-4 col-md-6 portfolio-item filter-app">
						<div class="portfolio-wrap">
							<img src="{% static 'images/hogeecosytem (1).jpg' %}" class="img-fluid" alt="">
							<div class="portfolio-info">
							<h4>HOGE Aerospace Institute</h4>
							<p>Innovates decentralized approached to space data</p>
							<div class="portfolio-links">
								<a href="{% static 'images/hogeecosytem (1).jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Develops Blockchain solutions for space technology mission"><i class="bx bx-plus"></i></a>
								<a href="https://hoge-aerospace.com/"><i class="bx bx-link"></i></a>
							</div>
							</div>
						</div>
						</div>

						<div class="col-lg-4 col-md-6 portfolio-item filter-card">
						<div class="portfolio-wrap">
							<img src="{% static 'images/3.jpg' %}" class="img-fluid" alt="">
							<div class="portfolio-info">
							<h4>Hoge Gaming</h4>
							<p>The official HOGE gaming project that brings live streamed gaming events to create a fun...</p>
							<div class="portfolio-links">
								<a href="{% static 'images/3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="The official HOGE gaming project that brings live streamed gaming events to create a fun..."><i class="bx bx-plus"></i></a>
								<a href="https://www.twitch.tv/hoge_gaming?sr" ><i class="bx bx-link"></i></a>
							</div>
							</div>
						</div>
						</div>

						<div class="col-lg-4 col-md-6 portfolio-item filter-web">
						<div class="portfolio-wrap">
							<img src="{% static 'images/4.jpg' %}" class="img-fluid" alt="">
							<div class="portfolio-info">
							<h4>HOGE Swap</h4>
							<p>HOGE liquidity pools and a decentralized swap to generate reve...</p>
							<div class="portfolio-links">
								<a href="{% static 'images/4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="HOGE liquidity pools and a decentralized swap to generate revenue"><i class="bx bx-plus"></i></a>
								<a href="https://hogeswapbsc.com/"><i class="bx bx-link"></i></a>
							</div>
							</div>
						</div>
						</div>

						<div class="col-lg-4 col-md-6 portfolio-item filter-app">
						<div class="portfolio-wrap">
							<img src="{% static 'images/5.jpg' %}" class="img-fluid" alt="">
							<div class="portfolio-info">
							<h4> HOGE Music</h4>
							<p>We thrives on audible creativity.</p>
							<div class="portfolio-links">
								<a href="{% static 'images/5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="A community driven project thrives on audible creativity"><i class="bx bx-plus"></i></a>
								<a href="https://opensea.io/collection/hoge-music" ><i class="bx bx-link"></i></a>
							</div>
							</div>
						</div>
						</div>

						<div class="col-lg-4 col-md-6 portfolio-item  filter-card">
						<div class="portfolio-wrap">
							<img src="{% static 'images/6.jpg' %}" class="img-fluid" alt="">
							<div class="portfolio-info">
							<h4>Hoge Dao</h4>
							<p>The HOGE decentralized autonomous organization</p>
							<div class="portfolio-links">
								<a href="{% static 'images/6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="The HOGE decentralized autonomous organization that will serve as the blueprint for the ..."><i class="bx bx-plus"></i></a>
								<a href="https://egs.hogeassociation.org/community/" ><i class="bx bx-link"></i></a>
							</div>
							</div>
						</div>
						</div>

						<div class="col-lg-4 col-md-6 portfolio-item filter-card">
						<div class="portfolio-wrap">
							<img src="{% static 'images/7.jpg' %}" class="img-fluid" alt="">
							<div class="portfolio-info">
							<h4> HOGE University</h4>
							<p>Free deeper DeFi education</p>
							<div class="portfolio-links">
								<a href="{% static 'images/7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Free deeper DeFi education aimed to empower a new generation of crypto users."><i class="bx bx-plus"></i></a>
								<a href="https://www.hogeuniversity.org/"><i class="bx bx-link"></i></a>
							</div>
							</div>
						</div>
						</div>

						<div class="col-lg-4 col-md-6 portfolio-item filter-web">
						<div class="portfolio-wrap">
							<img src="{% static 'images/9.jpg' %}" class="img-fluid" alt="">
							<div class="portfolio-info">
							<h4>HOGE UniFaucet</h4>
							<p>a daily incentive tool to engage...</p>
							<div class="portfolio-links">
								<a href="{% static 'images/9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title=">a daily incentive tool to engage and retain the community as well as attract net new audiences."><i class="bx bx-plus"></i></a>
								<a href="https://unifaucet.org/" ><i class="bx bx-link"></i></a>
							</div>
							</div>
						</div>
						</div>

					</div>

					</div>
				</section><!-- End Portfolio Section -->
	
				</div>


					
				<!--
				=====================================================
					Theme Counter
				=====================================================
				-->
				
				
				<div class="theme-counter ">
					<div class="theme-title text-center" style="padding-bottom: 25px;" >
						<h2><span> Tokenomics</span></h2>
					</div>
					<div class="container" style="padding-left: 10px;padding-right: 10px;">
						
						<div class="tokenomics" style="padding-left: 10px;padding-right: 10px;" >
							<div class="row ">
								<div class="col text-center">
								
								  <p style="color: #ffae00; font-weight: bold;">Token Price (HOGE)</p>
								  <p > 0.3332 (<small style="color: greenyellow;">+17.32%</small>)</p>
								</div>
								
							  </div>
							<div class="row one token">
								<div class="col text-center">
									<p style="color: #ffae00;">VOLUME</p>
									<p style="color: red;"><i class="fa fa-gear fa-spin" style="font-size: 14px;"></i> <small> 600636681591 HOGE Burned </small></p>
								  </div>
							  <div class="col-6 text-center">
								<p style="color: #ffae00;">MARKET CAP</p>
								<p style="color: greenyellow;">$?<small>USD</small></p>
								  
								
							  </div>
							  <div class="col text-center end">
								<p style="color: #ffae00;">VOLUME</p>
								<p style="color: greenyellow;"><i class="fa fa-gear fa-spin" style="font-size: 14px;"></i> <small> 399363318409 HOGE in Circulation </small></p>
								  
							  </div>
							  
							</div>
							<div class="row  power">
							  <div class="col text-center">
								<p> Powered by crypto.com</p>
							  </div>
							  
							  
							</div>
						  </div>
						  <div class="bg-image" style="padding-top: 25px;">
							

							<div class="counter-wrapper">
								<div class="row">
									<div class="col-sm-3">
										<span class="icon"><i class='bx bxs-award'></i></span>
										<h2 class="number"><span class="timer" data-from="0" data-to="2" data-speed="1200" data-refresh-interval="5">0</span>%</h2>
										<p><b>Burn// Destribution in every transaction</b></p>
									</div>
									<div class="col-sm-3">
										
										<span class="icon"><i class='bx bxs-badge-dollar'></i></span>
										<h2 class="number"><span class="timer" data-from="0" data-to="65" data-speed="1200" data-refresh-interval="5">0</span>k +</h2>
										<p><b>Hoge Holders</b></p>
									</div>
									<div class="col-sm-3">
										<span class="icon"><i class='bx bxs-hot'></i></span>
										<h2 class="number"><span class="timer" data-from="0" data-to="59" data-speed="1200" data-refresh-interval="5">0</span>%</h2>
										<p><b>Supply Burned</b></p>
									</div>
									<div class="col-sm-3">
										<span class="icon"><i class='bx bx-globe-alt'></i></span>
										<h2 class="number"><span class="timer" data-from="0" data-to="41" data-speed="1200" data-refresh-interval="5">0</span>%</h2>
										<p><b>Supply in Circulation</b></p>
									</div>
								</div>
							</div> <!-- /.counter-wrapper -->
						</div> <!-- /.bg-image -->
						
					</div> <!-- /.container -->
					
				</div> <!-- /.theme-counter -->


				<div class="container roadmap ">
					<div class="theme-title text-center" style="padding: 25px 0 25px 0;">
						<h2><span>Roadmap</span></h2>
						
					</div>
					<div class="text-center container">
						<button data-toggle="collapse" data-target="#demo" class="learn-more  ">View Roadmap <i class="flaticon-right-thin"></i></button>
					
					<div id="demo" class="collapse">
						<img src="{% static 'images/hoge-roadmap.jpg' %}">
						</div>
				
				</div>
			<!--
				=====================================================
					Our Work Progress
				=====================================================


				-->
				<style>
					
				
				</style>


				<div class="container " >
					<div class="theme-title text-center" style="padding: 25px 0 25px 0;">
						<h2 ><span>Buy HOGE Token</span></h2>
						
					</div>
				<div class="kabosu-content" style="min-width:100%">
				 <div class="row">
					<div class="col-sm-3 parent-numbers aos-init aos-animate" data-aos="fade-left" data-aos-offset="100" data-aos-delay="10" data-aos-duration="1000">
						<h3 ><span class="badge bg-secondary ">01</span>Create MetaMask Wallet<br>&nbsp;</h3>
						<p>Metamask is a crypto wallet that works with any ERC20 tokens. HOGE is an ERC20 token.</p>
						<p>   <a class="learn-more "href="https://www.youtube.com/watch?v=DROY0E3so_Q" class="learn-more  ">Learn more.</a></p></div>
					<div class="col-sm-3 parent-numbers aos-init aos-animate" data-aos="fade-right" data-aos-offset="100" data-aos-delay="10" data-aos-duration="1000">
						<h3><span class="badge bg-secondary">02</span> Send ETH To Your Wallet</h3>
						<p>You can buy Ethereum (ETH) directly on MetaMask or transfer it to your MetaMask Wallet from exchanges like Coinbase, Binance, etc. Make sure to use the ERC-20 network when transfering ETH.</p>
						<p>   <a class="learn-more "href="https://www.youtube.com/watch?v=FJzBdpvo5cg"  class="learn-more  ">Learn more</a></p>
					</div>
					<div class="col-sm-3 parent-numbers aos-init aos-animate" data-aos="fade-left" data-aos-offset="100" data-aos-delay="10" data-aos-duration="1000">
					   <h3><span class="badge bg-secondary">03</span> Connect Wallet To UniSwap<br>&nbsp;</h3>
					   <p>Make sure the HOGE Contract ID is:<br><small id="p2" style="font-size: 0.7rem;">0xfad45e47083e4607302aa43c65fb3106f1cd7607</small></p>
					   <button onclick="copyToClipboard('#p2')"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
					   
				
					   <p>   <a class="learn-more "href="https://www.youtube.com/watch?v=DROY0E3so_Q"  class="learn-more  ">Guide</a></p></div>
					
					   <div class="col-sm-3 parent-numbers aos-init aos-animate" data-aos="fade-right" data-aos-offset="100" data-aos-delay="10" data-aos-duration="1000">
						<h3><span class="badge bg-secondary">04</span> Set Slippage To 2.5%</h3>
						<p>Confirm swap, and add HOGE token ID above to "Add Custom Token</p>
						<p>   <a class="learn-more "href="https://www.youtube.com/watch?v=FJzBdpvo5cg"  class="learn-more  ">Learn more</a></p>
					</div></div>
				</div>
			</div>






			
			<div class="container">
				<div class="row" style="padding: 25px 0 25px 0;">
					<div class="col">
						<div class="text-center ">
							<button data-toggle="collapse" data-target="#demo3" class="learn-more  "> Copy Contract Addresses </button>
						
						<div id="demo3" class="collapse">
							<div class="address">
								<p>Ethereum (ERC-20):</p>
								<p class="addre " id="a1">0xfad45e47083e4607302aa43c65fb3106f1cd7607 <a  class="learn-more " onclick="copyToClipboard('#a1')"> <i class="fa fa-clipboard" aria-hidden="true"></i></a></p>
								<br>
							
								 <p>Binance Smart Chain (BEP-20):</p>
								 <p class="addre " id="a2">0xa4fffc757e8c4f24e7b209c033c123d20983ad40<a  class="learn-more " onclick="copyToClipboard('#a2')"> <i class="fa fa-clipboard" aria-hidden="true"></i></a></p>
							<br>
								 <p>Polygon (MATIC):</p>
								 <p class="addre " id="a3">
									0x58c1BBb508e96CfEC1787Acf6Afe1C7008A5B064<a  class="learn-more " onclick="copyToClipboard('#a3')"> <i class="fa fa-clipboard" aria-hidden="true"></i></a></p>
									
								 <p>FTM:</p>
								 <p class="addre " id="a4">
									0xf31778d591c558140398f46feca42a6a2dbffe90<a  class="learn-more " onclick="copyToClipboard('#a4')"> <i class="fa fa-clipboard" aria-hidden="true"></i></a></p>
									<br>
								 <p>XDAI:</p>
								 <p class="addre " id="a5">0xDfF7fcF6a86F7Dc86E7facECA502851f82a349A6<a  class="learn-more " onclick="copyToClipboard('#a5')"> <i class="fa fa-clipboard" aria-hidden="true"></i></a></p>
	                               <br>
								</div>	 
							</div>
						
						</div>
					</div>
					<!-- <div class="col-2">
						<a href="https://pancakeswap.finance/swap?outputCurrency=0xa4fffc757e8c4f24e7b209c033c123d20983ad40" >
							<img style="margin: auto;"   src="{% static 'images/pancakesawp.png' %}" height="50px" width= "50px"></a>	
					</div>
					<div class="col-2">
						<a href="https://www.dextools.io/app/ether/pair-explorer/0x7fd1de95fc975fbbd8be260525758549ec477960" >
							<img style="margin: auto;"   src="{% static 'images/dextoolslogo.png' %}" height="50px" width= "50px"></a>	
						
					</div>
					<div class="col-2">
						<a  href="https://app.uniswap.org/#/swap?slippage=500&outputCurrency=0xfad45e47083e4607302aa43c65fb3106f1cd7607&use=V2" >
							<img style="margin: auto;"   src="{% static 'images/uniswap.png' %}" height="50px" width= "50px"></a>	
						
					</div> -->

				</div>
			</div>

				<div class="o" id="progress">
					<div class="sticky-social">
						<ul class="social">
							  <li class="twitter"><a href="https://app.uniswap.org/#/swap?slippage=500&outputCurrency=0xfad45e47083e4607302aa43c65fb3106f1cd7607&use=V2"><img style="margin: auto;" src="{% static 'images/uniswap.png' %}" height="45px" width= "45px"></a></li>
							<li class="insta"><a href="https://pancakeswap.finance/swap?outputCurrency=0xa4fffc757e8c4f24e7b209c033c123d20983ad40"><img style="margin: auto;" src="{% static 'images/pancakesawp.png' %}" height="45px" width= "45px"></a></li>
							<li class="pin"><a href="https://www.dextools.io/app/uniswap/pair-explorer/0x7fd1de95fc975fbbd8be260525758549ec477960"><img style="margin: auto;" src="{% static 'images/dextoolslogo.png' %}" height="45px" width= "45px"></a></li>
							<li class="open"><a href="https://opensea.io/HogeFinance"><img style="margin: auto;" src="{% static 'images/opensea-r.png' %}" height="45px" width= "45px"></a></li>
							
						  </ul>
						</div>


					
			
				</div> <!-- /.our-work-progress -->
				

				<div id="media">
					<br>
					<div class="theme-title text-center">
								
						<h2 ><span>MEDIA</span> </h2>
						<br>
					</div>
	


          <div class="container">
            <div class="stock-market-price tz-gallery">
               <div id="market-rate">
                
                <div class="item">
                  <a class="lightbox" href="https://www.usatoday.com/videos/sponsor-story/hoge-finance/2021/08/23/how-hoge-incentivizes-long-term-holdings/8245116002/">
                    <img src="{% static 'images/buying hoge.jpg' %}"></a>
                  
                </div>
                <div class="item">
                 										
					<a class="lightbo">
									  <iframe width="360px" height="227px"allowfullscreen="true"
				src="https://www.youtube.com/embed/FJzBdpvo5cg">
				
				</iframe>	</a>
				   
				</div> 
                <div class="item">
                 										
                    <a class="lightbox" href="https://www.yahoo.com/now/hoge-announces-collaboration-defi-angels-105900972.html">
                      <img src="{% static 'images/hoge joins.jpg' %}">	</a>
                   
                </div> 
				<div class="item">
					
                 										
					<a class="lightbo" >
			
				<iframe title="USATODAY-Embed Player" width="360px" height="227px" frameborder="0" scrolling="no" allowfullscreen="true" marginheight="0" marginwidth="0" src="https://uw-media.usatoday.com/embed/video/5814981001?placement=snow-embed"></iframe>	</a>
				   
				</div>     
              </div> 
            </div> <!-- /.stock-market-price -->
          </div>
		  
				<a href="{% url 'media' %}" class="text-center d-flex justify-content-center" ><button id="b39" class="learn-more  text-center justify-content-center mx-auto">View More Media <i class="flaticon-right-thin"></i></button></a>
								

				</div>
				







			



				<!-- 
				=============================================
					Contact Us One
				============================================== 
				-->
				<div class="contact-us-one" id="contact">
					<div class="overlay">
						<div class="container">
							<div class="theme-title text-center">
								<h2>Get In Touch</h2>
								<p>Let's Keep You Updated <br>Be Part of the HOGE Community </p>
							</div>

							<form action="" method="POST" class="form-validation" autocomplete="off">
								{% csrf_token %}
								<div class="row">
									<div class="col-md-12">
										{{ mymessage.as_p }}
									</div>		
								</div>
								  <button type="submit">Send Message</button>
							</form>

							<!--Contact Form Validation Markup -->
							<!-- Contact alert -->
							<div class="alert-wrapper" id="alert-success">
								<div id="success">
									<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
									<div class="wrapper">
						               	<p>Your message was sent successfully.</p>
						             </div>
						        </div>
						    </div> <!-- End of .alert_wrapper -->
						    <div class="alert-wrapper" id="alert-error">
						        <div id="error">
						           	<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
						           	<div class="wrapper">
						               	<p>Sorry!Something Went Wrong.</p>
						            </div>
						        </div>
						    </div> <!-- End of .alert_wrapper -->
						</div>
					</div> <!-- /.overlay -->
				</div> <!-- /.contact-us-one -->


			



				<!--
				=====================================================
					Partner Slider
				=====================================================
				-->
				




				<!--
				=====================================================
					Footer 
				=====================================================
				-->
				<footer class="theme-footer">
					<div class="container">
						<div class="inner-wrapper">
							<div class="top-footer-data-wrapper">
								<div class="row">
									<div class="col-lg-4 col-sm-6 footer-logo">
										<div class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/Hoge_logo (2).png' %}" height="100px" width="120px" alt="Logo"></a></div>
										<a href="#" class="email">Hogefinance.com</a>
										<a href="#" class="mobile">648-xxx-xxxx</a>
									</div> <!-- /.footer-logo -->
									<div class="col-lg-2 col-sm-6 footer-list">
										<h4 class="title">Quick Links</h4>
										<ul>
											<li><a href="#">How it Works</a></li>
											<li><a href="#">Guarantee</a></li>
											<li><a href="#">Security</a></li>
											<li><a href="#">Report Bug</a></li>
											<li><a href="#">Pricing</a></li>
										</ul>
									</div> <!-- /.footer-list -->
									<div class="col-lg-3 col-sm-6 footer-list">
										<h4 class="title">About Us</h4>
										<ul>
											<li><a href="#">About Singleton</a></li>
											<li><a href="#">Jobs</a></li>
											<li><a href="#">Team</a></li>
											<li><a href="#">Testimonials</a></li>
											<li><a href="#">Blog</a></li>
										</ul>
									</div> <!-- /.footer-list -->
									<div class="col-lg-3 col-sm-6 footer-list">
										<h4 class="title">Become A Member</h4>
										<ul>
											<li><a href="#">Contributor</a></li>
											<li><a href="#">Union Member</a></li>
											<li><a href="#">Processing</a></li>
											<li><a href="#">Legal Action</a></li>
										</ul>
									</div> <!-- /.footer-list -->
								</div> <!-- /.row -->
							</div> <!-- /.top-footer-data-wrapper -->

							<div class="bottom-footer clearfix">
								<p class="copyright">&copy; 2022 <a href="#" style="
									color: #fff;" >Hogefinance

								</a> All Right Reserved</p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div> <!-- /.bottom-footer -->
						</div>
					</div> <!-- /.container -->
				</footer>

			</div> <!-- /.html-top-content -->


			
	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s color-one-bg">
				<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
			</button>




      <script type="text/javascript" src="{% static 'vendor/jquery.2.2.3.min.js' %}"></script>
    
      <script type="text/javascript" src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

      <script type="text/javascript" src="{% static 'vendor/aos-next/dist/aos.js' %}"></script>
      <script type="text/javascript" src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>

      <script type="text/javascript" src="{% static 'vendor/jquery.countTo.js' %}"></script>

      <script type="text/javascript" src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>

      <script type="text/javascript" src="{% static 'vendor/jquery.appear.js' %}"></script>
     
      <script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
     
      <script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}"></script>
	  
      <script type="text/javascript" src="{% static 'js/glightbox.min.js' %}"></script>
	  <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
		<script>
			function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}

		</script>
		

<script>    
    /*--------------------------
    2. Newsletter Popup
    ---------------------------*/
    setTimeout(function () {
        $('.popup_wrapper').css({
            "opacity": "1",
            "visibility": "visible"
        });
        $('.popup_off').on('click', function () {
            $(".popup_wrapper").fadeOut(500);
        })
    }, 55000);
	
// HOME
gsap.from('.home__title', {opacity: 0, duration: 1, delay:1.6, y: 30})
gsap.from('.home__description', {opacity: 0, duration: 1, delay:1.8, y: 30})
gsap.from('.home__button', {opacity: 0, duration: 1, delay:2.1, y: 30})
gsap.from('.home__img', {opacity: 0, duration: 1, delay:1.3, y: 30})

    </script>
	<script>
		window.onscroll = function() {myFunction()};

function myFunction() {
var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
var scrolled = (winScroll / height) * 100;
document.getElementById("myBar").style.width = scrolled + "%";
}
		/**
		* Template Name: Personal - v4.6.0
		* Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
		* Author: BootstrapMade.com
		* License: https://bootstrapmade.com/license/
		*/
		(function() {
		  "use strict";
		
		  /**
		   * Easy selector helper function
		   */
		  const select = (el, all = false) => {
			el = el.trim()
			if (all) {
			  return [...document.querySelectorAll(el)]
			} else {
			  return document.querySelector(el)
			}
		  }
		
		  /**
		   * Easy event listener function
		   */
		  const on = (type, el, listener, all = false) => {
			let selectEl = select(el, all)
		
			if (selectEl) {
			  if (all) {
				selectEl.forEach(e => e.addEventListener(type, listener))
			  } else {
				selectEl.addEventListener(type, listener)
			  }
			}
		  }
		
	
		  /**
		   * Porfolio isotope and filter
		   */
		  window.addEventListener('load', () => {
			let portfolioContainer = select('.portfolio-container');
			if (portfolioContainer) {
			  let portfolioIsotope = new Isotope(portfolioContainer, {
				itemSelector: '.portfolio-item',
				layoutMode: 'fitRows'
			  });
		
			  let portfolioFilters = select('#portfolio-flters li', true);
		
			  on('click', '#portfolio-flters li', function(e) {
				e.preventDefault();
				portfolioFilters.forEach(function(el) {
				  el.classList.remove('filter-active');
				});
				this.classList.add('filter-active');
		
				portfolioIsotope.arrange({
				  filter: this.getAttribute('data-filter')
				});
			  }, true);
			}
		
		  });
		
		  /**
		   * Initiate portfolio lightbox 
		   */
		  const portfolioLightbox = GLightbox({
			selector: '.portfolio-lightbox'
		  });
		
		  /**
		   * Initiate portfolio details lightbox 
		   */
		  const portfolioDetailsLightbox = GLightbox({
			selector: '.portfolio-details-lightbox',
			width: '90%',
			height: '90vh'
		  });
		
		  /**
		   * Portfolio details slider
		   */
		  new Swiper('.portfolio-details-slider', {
			speed: 400,
			loop: true,
			autoplay: {
			  delay: 5000,
			  disableOnInteraction: false
			},
			pagination: {
			  el: '.swiper-pagination',
			  type: 'bullets',
			  clickable: true
			}
		  });
		
		})()
		
		
			</script>	
	

		</div> <!-- /.main-page-wrapper -->
	</body>
</html>



