{% extends 'base.html' %}

{% block content %}

<!-- 				
=======================================
				MEDIA HOGE
				===============================  -->
                <div id="media">
					<br>
					<div class="theme-title text-center">
								
						<h2 ><span>MEDIA</span> </h2>
						<br>
					</div>
	


          <div class="container">
            <div class="stock-market-price tz-gallery">
               <div id="market-rate">
                
                <div class="item">
                  <a class="lightbox" href="https://www.usatoday.com/videos/sponsor-story/hoge-finance/2021/08/23/how-hoge-incentivizes-long-term-holdings/8245116002/">
                    <img src="{% static 'images/buying hoge.jpg' %}"></a>
                  
                </div>
                <div class="item">
                  										
                    <a class="lightbox" href="https://www.usatoday.com/story/sponsor-story/hoge-finance/2021/10/27/hoge-aerospace-institute-hai-build-program-aspiring-explorers/6175716001/">
                      <img src="{% static 'images/Hai.jpg' %}" width="667px" height="370px"></a>
                   
                </div>
                <div class="item">
                 										
                    <a class="lightbox" href="https://www.yahoo.com/now/hoge-announces-collaboration-defi-angels-105900972.html">
                      <img src="{% static 'images/hoge joins.jpg' %}">	</a>
                   
                </div>     
              </div> 
            </div> <!-- /.stock-market-price -->
          </div>
								

				</div>


{% endblock %}