{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- 				
=======================================
				 HOGE Merchandise
				===============================  -->

                <div id="media">
					<br>
					<div class="theme-title text-center" style="margin-top:100px;">
								
						<h2 >Hoge Ambassador<span> Opensea Collections</span> </h2>
						<br>
					</div>
	


          <div class="container">
            <div class="stock-market-price tz-gallery">
               <div id="market-rate">
                
                <div class="item flip-hide">
                  <a class="lightbox" href="https://opensea.io/collection/the-modern-man">
                    <img src="{% static 'images/episode (4).png' %}">
                    <div class="flip-text" style="color: #fff;"><p> <b>•</b>The Modern Man Collection is the
                        FIRST EVER NFT drop from Scotty Sire!
                        It consists of twenty unique pieces that
                        have been digitally dipped in 24k Gold
                        and Chrome. <br>
                        <b>•</b>A true genesis collection that includes
                        unlockable content with each piece in
                        this limited collection. Don't be sad
                        when there is so much to smile about! 
                         
                        </p></div></a>
                  
                </div>
                <div class="item flip-hide">
                  										
                    <a class="lightbox" href="https://opensea.io/collection/50-shades">
                      <img src="{% static 'images/episode (6).png' %}" width="667px" height="370px">
                      <div class="flip-text"  style="color: #fff;"><p> <b>•</b>The Blue Cardigan that launched a
                        thousand ships & has dominated social
                        media for the past year has inspired this
                        exclusive collection of 50 unique Shades
                        of Blue Cardigan NFTs that include
                        unlockable content. <br>
                        <b>•</b>Brought to you by the Blue Cardigan
                        Guy himself, Adam Rose and designed
                        by his brother, renowned artist, Robert
                        Walker-Bunda. 
                         
                        </p></div></a>

                   
                </div>
                <div class="item flip-hide">
                 										
                    <a class="lightbox" href="https://opensea.io/collection/the-jade-bryce-collection">
                      <img src="{% static 'images/episode (5).png' %}">	
                      <div class="flip-text"style="color: #fff;"><p> <b>•</b>We’re excited to meme thoughtful
                        business together and bring the
                        community the first ever Jade Bryce
                        Collection! 50 Pieces in total.<br>
                        <b>•</b>Each of her NFTs include unlockable
                        content and live experiences 
                         
                        </p></div></a>
                   
                </div>     
              </div> 
            </div> <!-- /.stock-market-price -->
          </div>

          
								

				</div>
                <div class="our-feature-two" id="services">
					<div class="container">
						<div class="theme-title text-center">
							<h2><span>More Ecosystem Overview</span></h2>
						</div>
						<div class="row single-block">
							<div class="col-lg-6">
								<div class="text">
									<div class="number">04</div>
									<h2 class="title"><span>HOGE Arcade</span></h2>
								
									<a href="https://hoge.fun/" class="learn-more">Learn More <i class="flaticon-right-thin"></i></a>
								</div> 
							</div> 
							
							<div class="col-lg-6 img-box"><div ><div  class=" common flip-hide">											
								<img  src="{% static 'images/episode (1).png' %}" alt="">
								<div class="flip-text"><p> <b>•</b>The token gated virtual HOGE arcade that’s home to original games created by the HOGE gaming developers'
                                    community.<br>
                                    
									 
									</p></div>

							 </div></div></div>
						</div> 

						<div class="row single-block">
							<div class="col-lg-6 order-lg-last">
								<div class="text">
									<div class="number">05</div>
									<h2 class="title"><span>HOGE</span> University</h2>
									<a href="https://www.hogeuniversity.org/" class="learn-more">Learn More <i class="flaticon-right-thin"></i></a>
								</div> 
							</div> 
							
							<div class="col-lg-6 order-lg-first "><div ><div  class=" common flip-hide">											
								<img  src="{% static 'images/episode (2).png' %}" alt="">
								<div class="flip-text"><p><b>•</b>	Free deeper DeFi education aimed to empower a new generation of crypto users. Middle of Q1 2022 New Digital
                                    DeFi curriculum will be available.
									
									</p></div>

							 </div></div></div>
						
						
						</div>


						<div style="border-top: 5px solid #ffae00; margin-top: 2rem;" data-aos="fade-down" data-aos-duration="1100"></div>
						<div class="row single-block">
							
							<div class="col-lg-6" >
								<div class="text">
									<div class="number">06</div>
									<h2 class="title"><span>HOGE</span> Unifaucet</h2>
									
									<a href="https://unifaucet.org/" class="learn-more">Learn More <i class="flaticon-right-thin"></i></a>
								</div> 
							</div> 
							<div class="col-lg-6 img-box"><div ><div  class=" common flip-hide">											
								<img  src="{% static 'images/episode (3).png' %}" height="452px" width="400px" alt="">
								<div class="flip-text"><p>
									<b>•</b>a daily incentive tool to engage and retain the community as well as attract net new audiences.
									</p></div>

							 </div></div></div></div>
                             
                             
                             <div class="row single-block">
                                <div class="col-lg-6 order-lg-last">
                                    <div class="text">
                                        <div class="number">07</div>
                                        <h2 class="title"><span>VaultSale</span> </h2>
                                        
                                        
                                        <a href="https://vaultsale.com/" class="learn-more">Learn More <i class="flaticon-right-thin"></i></a>
                                    </div> 
                                </div> 
                                
                                <div class="col-lg-6 order-lg-first "><div ><div  class=" common flip-hide">											
                                    <img  src="{% static 'images/10.png' %}" alt="">
                                    <div class="flip-text"><p><b>•</b>	A DeFi launchpad protocol that boasts an intuitive and user-friendly design, here to guide you on your DeFi journey.
                                        
                                        
                                        </p></div>
    
                                 </div></div></div>
                            
                            
                            </div>
                            
                            <div class="row single-block">
                                <div class="col-lg-6">
                                    <div class="text">
                                        <div class="number">08</div>
                                        <h2 class="title"><span>HOGEMint</span></h2>
                                    
                                        <a href="https://www.hogemint.com/" class="learn-more">Learn More <i class="flaticon-right-thin"></i></a>
                                    </div> 
                                </div> 
                                
                                <div class="col-lg-6 img-box"><div ><div  class=" common flip-hide">											
                                    <img  src="{% static 'images/8.png' %}" alt="">
                                    <div class="flip-text"><p> <b>•</b>A non-fungible revenue generating minting platform to create your own HOGE powered NFT. <br>
                                        
                                         
                                        </p></div>
    
                                 </div></div></div>
                            </div> 
                            <div class="row single-block">
                                <div class="col-lg-6 order-lg-last">
                                    <div class="text">
                                        <div class="number">09</div>
                                        <h2 class="title"><span>GroupBuy</span> </h2>
                                        
                                        
                                        <a href="https://optiswap.pro/pump" class="learn-more">Learn More <i class="flaticon-right-thin"></i></a>
                                    </div> 
                                </div> 
                                
                                <div class="col-lg-6 order-lg-first "><div ><div  class=" common flip-hide">											
                                    <img  src="{% static 'images/9.png' %}" alt="">
                                    <div class="flip-text"><p><b>•</b>	An added feature integrated and deployed on Optiswap. A HOGE-Pumping OptiSwap Experience For The Whole Family.
                                        
                                        
                                        </p></div>
    
                                 </div></div></div>
                            
                            
                            </div>
					</div> 
				</div>


{% endblock %}